apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-data
  namespace: forgeconfig
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: forgeconfig
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-tftp
  namespace: forgeconfig
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: forgeconfig
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-backups
  namespace: forgeconfig
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: forgeconfig
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
